# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
.Python
*.so

# Virtual environments
.venv/
venv/
env/

# Flask
instance/
.env
.flaskenv

# IDE/editor
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db
*.Zone.Identifier

# App uploads/outputs
uploads/
static/processed_images/

